<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecrutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63BF73E81D6446BC00114782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BF73FF1D6446BC00114782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BF740A1D6446BC00114782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
